---
layout: default
---
<!--Main-->
<div id="main">
    <h1>{{ site.name }}</h1>
    <h2>{{ site.description }}</h2>
    <!--Social Media-->
</div>

<!--About-->
<div id="about">
    <h2>About</h1>
    <p>I’m currently taking courses and looking for internships for Winter 2018. I’ve previously worked at <a href="http://www.rbc.com/canada.html" target="_blank">RBC</a>, <a href="https://www.ericsson.com/en" target="_blank">Ericsson</a>, <a href="https://edu.google.com/resources/programs" target="_blank">Google</a> and <a href="https://carleton.ca/vv/" target="_blank">Virtual Ventures</a>.</p>
    <p>I’m also the President of the <a href="http://ccss.carleton.ca/" target="_blank">Carleton Computer Science Society</a>, Co-lead for <a href="http://cuhacking.com/" target="_blank">CUHacking</a>, and the Carleton Head Delegate for <a href="http://cusec.net/" target="_blank">CUSEC</a>.</p>
    <!--Social Media-->
</div>

<!--Experiences-->
<div id="experiences">
    <h2>Experiences</h2>
    <p>Hi</p>
</div>

<!--Projects-->
<div id="projects">
    <h2>Projects</h2>
    <p>Hi</p>
</div>

<!--Adventures-->
<div id="adventures">
    <h2>Adventures</h2>
    <p>Hi</p>
</div>

<!--Resume-->
<div id="resume">
    <h2>Resume</h2>
    <p>Hi</p>
</div>

<!--Contact-->
<div id="contact">
    <h2>Contact</h2>
    <p>Hi</p>
</div>















