---
layout: default
---
<!--Main-->
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">{{ site.name }}</h1>
      <hr>
      <p>Software Developer</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
  </div>
</header>

<!--About-->
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">About</h2>
        <hr class="light">
        <p class="text-faded">I’m currently taking courses and looking for internships for Winter 2018. I’ve previously worked at <a href="http://www.rbc.com/canada.html" target="_blank">RBC</a>, <a href="https://www.ericsson.com/en" target="_blank">Ericsson</a>, <a href="https://edu.google.com/resources/programs" target="_blank">Google</a> and <a href="https://carleton.ca/vv/" target="_blank">Virtual Ventures</a>.</p>
        <p class="text-faded">I’m also the President of the <a href="http://ccss.carleton.ca/" target="_blank">Carleton Computer Science Society</a>, Co-lead for <a href="http://cuhacking.com/" target="_blank">CUHacking</a>, and the Carleton Head Delegate for <a href="http://cusec.net/" target="_blank">CUSEC</a>.</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<!--Experiences-->
<section class="bg-secondary" id="experiences">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Experiences</h2>
            <hr class="light">
            <p class="text-faded">Text goes here</p>
        </div>
    </div>
  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/ccss.jpg">
          <img class="img-fluid" src="assets/images/ccss.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                President
              </div>
              <div class="project-name">
                Carleton Computer Science Society
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/cuhacking2.jpg">
          <img class="img-fluid" src="assets/images/cuhacking2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Co-Lead
              </div>
              <div class="project-name">
                CUHacking
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/cusec.jpg">
          <img class="img-fluid" src="assets/images/cusec.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Carleton Head Delegate
              </div>
              <div class="project-name">
                CUSEC
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/rbc5.jpg">
          <img class="img-fluid" src="assets/images/rbc5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Software Developer Intern
              </div>
              <div class="project-name">
                RBC
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/ericsson.jpg">
          <img class="img-fluid" src="assets/images/ericsson.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                LTE Software Developer Intern
              </div>
              <div class="project-name">
                Ericsson
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/actua.jpg">
          <img class="img-fluid" src="assets/images/actua.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Curriculum Developer
              </div>
              <div class="project-name">
                Actua
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Projects-->
<section class="bg-secondary" id="projects">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Projects</h2>
            <hr class="light">
            <p class="text-faded">Projects goes here</p>
        </div>
    </div>
  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                C
              </div>
              <div class="project-name">
                Unicorn Shell
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Processing
              </div>
              <div class="project-name">
                One More Night
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                 iOS - Swift
              </div>
              <div class="project-name">
                Tic-Tac-Toe App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Chatroom Android App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Maze Path Finder App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="assets/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Insignio App
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Adventures-->
<section class="bg-primary" id="adventures">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Adventures</h2>
        <hr class="light">
        <p class="text-faded">Every adventure we take makes us who we are. From the places we go to the people we meet, we’re always learning, growing, and changing. My collection of moments has only just begun.<br><br>Coming soon!</p>

      </div>
    </div>
  </div>
</section>

<!--Resume-->
<section class="bg-dark" id="resume">
    <div class="call-to-action">
      <div class="container text-center">
        <h2>Resume</h2>
        <a class="btn btn-default btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Resume</a>
      </div>
    </div>
</section>

<!--Contact-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Want to chat? Give me a call or send me an email and I'll get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>613-371-9996</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
