---
layout: default
---
<!--Main-->
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">{{ site.name }}</h1>
      <hr>
      <p>Software Developer</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
  </div>
</header>

<!--About-->
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Hey There!</h2>
        <hr class="light">
        <p class="text-faded">My name is Elisa Kazan and I'm a strong and charismatic leader, passionate developer and eager to make a difference in the world. I'm currently in school and looking for an iOS development internship for Summer 2019. I will be graduating December 2019 and looking for full time roles starting January 2020.</p>
      </div>
    </div>
  </div>
</section>

<!--Work Experiences-->
<section class="bg-secondary" id="experiences">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Work Experiences</h2>
            <hr class="light">
            <p class="text-faded">Places that shaped who I am</p>
        </div>
    </div>
  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/magnet1.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/magnet1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Software Developer Intern
              </div>
              <div class="project-name">
                Magnet Forensics
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/shopify.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/shopify.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                iOS Developer Intern
              </div>
              <div class="project-name">
                Shopify
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/rbc.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/rbc.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Software Developer Intern
              </div>
              <div class="project-name">
                RBC
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/ericsson.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/ericsson.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                LTE Software Developer Intern
              </div>
              <div class="project-name">
                Ericsson
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/actua.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/actua.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Curriculum Developer
              </div>
              <div class="project-name">
                Actua
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/google.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/google.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Student Ambassador
              </div>
              <div class="project-name">
                Google
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/work_experiences/virtual-ventures.jpg">
          <img class="img-fluid" src="assets/images/work_experiences/virtual-ventures.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Curriculum Developer & Camp Instructor
              </div>
              <div class="project-name">
                Virtual Ventures
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Volunteer Experiences-->
<section class="bg-secondary" id="experiences">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Volunteer Experience</h2>
            <hr class="light">
            <p class="text-faded">Unforgettable experiences and passion projects of mine</p>
        </div>
    </div>
  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/ccss.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/ccss.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                President
              </div>
              <div class="project-name">
                Carleton Computer Science Society
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/cuhacking2.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/cuhacking2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Co-Lead
              </div>
              <div class="project-name">
                CUHacking
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/cusec.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/cusec.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Carleton Head Delegate
              </div>
              <div class="project-name">
                CUSEC
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/csgames.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/csgames.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Carleton Team Captain
              </div>
              <div class="project-name">
                CS Games 2018
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/women-in-cs.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/women-in-cs.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Founder
              </div>
              <div class="project-name">
                Carleton Women in Computer Science
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/vol_experiences/city-of-om.jpg">
          <img class="img-fluid" src="assets/images/vol_experiences/city-of-om.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Volunteer
              </div>
              <div class="project-name">
                City of Om
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Awards and Scholarships-->
<section class="bg-secondary" id="awards">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Awards and Scholarships</h2>
            <hr class="light">
            <p class="text-faded">Special recognition for my work</p>
        </div>
    </div>

  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/google_scholarship3.jpg">
            <img class="img-fluid" src="assets/images/awards/google_scholarship3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Women Techmaker Scholar 2018
                </div>
                <div class="project-name">
                  Google
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/twitter_developher2.jpg">
            <img class="img-fluid" src="assets/images/awards/twitter_developher2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  #DevelopHER Camper
                </div>
                <div class="project-name">
                  Twitter
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/richard_lewar_scholarship.jpg">
            <img class="img-fluid" src="assets/images/awards/richard_lewar_scholarship.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Richard Lewar Prestige Scholarship
                </div>
                <div class="project-name">
                  Carleton University
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/casg_scholarship.jpg">
            <img class="img-fluid" src="assets/images/awards/casg_scholarship.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Academic & Community Scholarships
                </div>
                <div class="project-name">
                  Carleton Academic Student Government
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/john_scholarship.jpg">
            <img class="img-fluid" src="assets/images/awards/john_scholarship.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  John R. Pugh Scholarship
                </div>
                <div class="project-name">
                  Carleton School of Computer Science
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/awards/zeev_schorr_scholarship.jpg">
            <img class="img-fluid" src="assets/images/awards/zeev_schorr_scholarship.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Ze'ev Schorr Memorial Award
                </div>
                <div class="project-name">
                  Carleton University
                </div>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</section>

<!--Projects-->
<section class="bg-secondary" id="projects">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Projects</h2>
            <hr class="light">
            <p class="text-faded">Various side projects, school assignments and hackathons creations</p>
        </div>
    </div>

  <div class="p-0 container-fluid">
    <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/images/projects/cuhacking_app.png">
            <img class="img-fluid" src="assets/images/projects/cuhacking_app.png" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Java - Android
                </div>
                <div class="project-name">
                  CUHacking App
                </div>
              </div>
            </div>
          </a>
        </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/default1.jpg">
          <img class="img-fluid" src="assets/images/default1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                C
              </div>
              <div class="project-name">
                Unicorn Shell
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/projects/one_more_night.jpg">
          <img class="img-fluid" src="assets/images/projects/one_more_night.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Processing
              </div>
              <div class="project-name">
                One More Night
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/projects/tic-tac-toe.jpg">
          <img class="img-fluid" src="assets/images/projects/tic-tac-toe.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                 iOS - Swift
              </div>
              <div class="project-name">
                Tic-Tac-Toe App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/default1.jpg">
          <img class="img-fluid" src="assets/images/default1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Chatroom Android App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/default1.jpg">
          <img class="img-fluid" src="assets/images/default1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Maze Path Finder App
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/projects/insignio_app.jpg">
          <img class="img-fluid" src="assets/images/projects/insignio_app.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Java - Android
              </div>
              <div class="project-name">
                Insignio App
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Adventures-->
<section class="bg-primary" id="adventures">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Adventures</h2>
        <hr class="light">
        <p class="text-faded">Every adventure we take makes us who we are. From the places we go to the people we meet, we’re always learning, growing, and changing. My collection of moments has only just begun.<br><br>Coming soon!</p>

      </div>
    </div>
  </div>
</section>

<!--Resume-->
<section class="bg-dark" id="resume">
    <div class="call-to-action">
      <div class="container text-center">
        <h2>Resume</h2>
        <a class="btn btn-default btn-xl sr-button" href="https://drive.google.com/file/d/1jw3NPfqd1MEbfpQl-cyjZ1bANFAUDsfa/view?usp=sharing">Download Resume</a>
      </div>
    </div>
</section>

<!--Contact-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Want to chat? Send me an email and I'll get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
